<H1>Détails produit</H1>

<div class="row">
      
     
    <div class="col-xl-3 col-md-6 mb-4">
    
      <div class="card shadow h-100 py-2" style="background:light">
      <a class="nav-link" role="button">
        <div class="card-body">
          <div class="row">
            <div class="col mr-2" style="height:150px;">
              <img src="/assets/images/{{produit.img_produit}}" alt="" style="height:100%; width:100%;">
            </div>
          </div>
          <div class="row ">                    
              <span class="text-center"></span>
          </div>
          <div class="row ">                    
              <span class="text-center">{{produit.nom_produit}}</span>
          </div>
          <div class="row text-center font-weight-bold text-dark">
            <span class="">{{produit.prix_produit}} FCFA</span>
          </div>
          
        </div>
  </a>
      </div>
      
    </div>
  
 
  
  </div>